.body{
  background-color: #DFF6FF;
}
.Sradhyargo{
 text-align: center;
}
.lataimage{
  height: 200px;
}
.veena{
  height: 200px;
}
.harmonium{
  height: 150px;
}
.songsImage{
  height: 200px;
}

.tuJahaChalega{
  height: 150px;
}

.piyabina{
  height:  125px;
}
.piyatose
{
  height: 90px;

}
.aajphirjeene{
  height: 60px;
}
.premboromodhur{
  height: 90px;
}
.moncheyechi{
  height: 100px;

}
.narajoni{
  height: 280px;
}
.terebinaShikwa{
  height: 40px;
}
.kitnapyara{
  height: 35px;
}
.ekpyarkanagma{
  height: 20px;
}
.gatarahe{
  height: 35px;
}
.enddiv{
  background-color: white;
}
.Deepak{
  height: 180px;
}
.Apratim{
  height: 180px;
}
